@{
    ViewData["Title"] = "DataImporter";
}


<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3 class="m-5">This button will trigger the data seeder.</h3>
            <form method="get">
                <button class="btn btn-primary" asp-controller="Import" asp-action="Seed">Import</button>
            </form>
        </div>
    </div>
</div>
