@model Gamebase.Web.InputModels.Search.SearchGameInputModel
@{
    ViewData["Title"] = "Search games - Gamebase";
}

<section class="container">
    <div class="input-group">
        <form asp-action="GameResults" method="get">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Game name</span>
                <input type="text" class="form-control" aria-label="Game name" placeholder="Game name" asp-for="@Model.Name" aria-describedby="basic-addon1" />
            </div>
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Developer name</span>
                <input type="text" class="form-control" aria-label="Developer Name" placeholder="Developer Name" asp-for="@Model.DeveloperName" aria-describedby="basic-addon1" />
            </div>
            <input type="submit" value="Search">
        </form>
    </div>
</section>s


